<!--
  A page where Contact of how to connect to workspace ofice is writen
-->
{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12" >
		<img src="static/img/contact4.jpg" alt="" style=" width: 100%;">
	</div>
        <div class="col-8">
          <p style=" color: white; padding: 3%;">
            For any inquiries or assistance, please feel free to reach out to our dedicated team. We are here to support you and address any concerns you may have. Whether it's regarding appointments, medical services, or general information, we are committed to providing prompt and helpful assistance.
            <br>
            We value your feedback and are constantly striving to improve our services. Your input is essential to our continuous efforts to enhance the patient experience.
            <br>
            Thank you for choosing Fine Health. We look forward to hearing from you.
          </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d492.54873797270335!2d7.493664169183984!3d9.028150720319072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0b88431ac045%3A0xd84818b28d842751!2sGarki%20Mall!5e0!3m2!1sen!2sng!4v1694101418328!5m2!1sen!2sng" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Address:</h3>
            <p class='text-muted'><b>Fine Health Hospital</b><br>
              47 Damaturu Cres,
              <br> Garki 2 900103, Abuja, 
              <br>Federal Capital Territory</p>

            <h3>Phone Number:</h3>
            <p class='text-muted'><b>Main Line: </b>
              <br>+234 809-3924-896
              <br><b>Appointment Scheduling:</b> 
              <br>+234 809-3924-896</p>

            <h3>Email:</h3>
            <p class='text-muted'>
              <b>General Inquiries:</b> <br>
              info@finehealth.com<br>
              <b>Appointment Queries:</b>
              <br>appointments@finehealth.com</p>

            <h3>Operating Hours:</h3>
            <p class='text-muted'><b>Monday to Friday:</b> 8:00 AM - 6:00 PM<br>
            <b>Saturday:</b> 9:00 AM - 9:00 PM<br>
            <b>Sunday:</b> 9:00 AM - 9:00 PM</p>
          </div>
        </div>
      </div>
{% endblock content %}
