<!--
  The host page that loads all space apointmented from the database.
-->
{% extends "layout.html" %}
{% block content %}
<div class="col-md-12" >
    <div class="bannar">
  <div class="top">
    <center>
      <h1 style="color: white;">Welcome to Fine Health Patient Management System</h1>
      <h3 style="color: white;">Where Booking Appiontment is possible</h3>
      <a href="{{ url_for('main.about') }}" target="_blank"class="btn btn-primary me-md-2">More Details</a>
    </center>
  </div>
</div>
</div>

  <div class="col-md-12" style=" color: white; text-align: center; font-weight: bolder;">
    <h2 style=" color: white; font-weight: bolder;">BOOK YOUR NEXT APPOINTMENT WITH A DOCTOR?</h2>

<p>We make booking your appiontment with a doctor quick and easy. Enquire today and you could be in with a doctor in the next few days.</p>
  </div>
  <div class="col-5 search" style="">
    <form method="GET" action="/apointment/search">
    <label for="country">Search for Doctors:</label>
    <select id="country" name="country">
        <option value="">Doctors</option>
        
        <!-- Add more country options here -->
    </select>
    <input type="submit" value="Search">
</form>
</div>
<div style=" clear: both;"></div>
 <div class="col-md-12">
  <p>Fine Health is committed to delivering exceptional healthcare services through our advanced patient management system. <br>Our platform is tailored to optimize the patient experience, from simplified appointment scheduling to secure access to comprehensive medical records and seamless billing processes. <br>With a focus on promoting patient-centric care, we facilitate effective communication channels between healthcare providers and patients.</p>
    <h2 style=" color: white; font-weight: bolder;">About Us</h2>

<p>We are dedicated to providing comprehensive and efficient healthcare services through our state-of-the-art patient management system. <br>Our platform is designed to streamline the patient experience, from initial appointment scheduling to secure access to medical records and billing information. <br>With a focus on enhancing the quality of patient care, we aim to facilitate seamless communication between healthcare providers and patients.</p>

<h2 style=" color: white; font-weight: bolder;">Our Mission:</h2>

<p>Our mission is to prioritize patient well-being by offering a user-friendly interface that simplifies the management of medical information. <br>We strive to foster a collaborative environment between healthcare professionals and patients, ensuring a personalized and holistic approach to healthcare management. <br>By leveraging the latest technological advancements, we aim to revolutionize the way healthcare is delivered and accessed, ultimately contributing to improved patient outcomes and satisfaction.</p>
  </div>

  <h2 style=" color: white; font-weight: bolder;">Services We Offer:</h2>
  <ul style="color: white; font-weight: bolder;">
<li>Secure and centralized storage of patient records.</li>
<li>Effortless appointment scheduling and management.</li>
<li>Efficient communication channels between patients and healthcare providers.</li>
<li>Streamlined billing and payment processing.</li>
<li>Accessible medical history and treatment plans for both patients and healthcare professionals.</li>
</ul>
<p style="color: white;  font-weight: bolder;">
  We look forward to serving you and ensuring a smooth and reliable healthcare experience.<br> Thank you for choosing our patient management system.
</p>
  </div>
   
{% endblock content %}
