<!--
  The host page that loads all space apointmented from the database.
-->
{% extends "layout.html" %}
{% block content %}

<div style=" clear: both;"></div>
<div class="col-md-12 topbar text-muted" style="color: black;">
  <div class="col-3" style=" float: right; margin: 1%;">
  <a href="{{ url_for('patientrecords.new_medicalrecord') }}" target="_blank"class="btn btn-primary me-md-2">New Test</a>
  </div>
  <div style=" clear: both;"></div>
<div class="row">
 {% for medical in medicals: %}
    <div class="col-4">
        <article class="media content-section" >
          
          <div class="media-body">
            <h2><a class="article-title" >{{ medical.med_condition }}</a></h2>
            <p class="article-content">Allergie to {{ medical.allergies }}</p>
            <p class="article-content">Your Condition: {{ medical.med_condition }}</p>
            <p class="article-content">Medication: {{ medical.medication }}</p>
            <p class="article-content">Symptoms: 
               <ul>
                {% for key, value in symptoms.items() %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
                </ul>
            </p>
            <div class="article-metadata">
              <a class="mr-2" >{{ medical.med.username }}</a>
              <small class="text-muted">{{ medical.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
          
        </article>
      </div>
    {% endfor %}
    </div>
    <div style=" clear: both;"></div>
    {% for page_num in medicals.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if medicals.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('patientrecords.medicalrecord', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('patientrecords.medicalrecord', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
    </div>
    </div>
{% endblock content %}
