<!--
  A page that contain the space apointmented by a user
-->
{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Apointments by {{ user.username }} ({{ apointments.total }})</h1>
    {% for apointment in apointments.items %}
        <article class="media content-section topbar">
          <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('apointments.apointment', apointment_id=apointment.id) }}">Apointment: {{ apointment.title }}</a></h2>
            <p class="article-content">Doctor: {{ apointment.doctor }}</p>
            <p class="article-content">Date: {{ apointment.date }}</p>
            <p class="article-content">Time: {{ apointment.time }}</p>
            <p class="article-content">Reason for Visit: {{ apointment.reason }}</p>
            <p class="article-content">Status: {{ apointment.status }}</p>
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_apointments', username=apointment.author.username) }}">{{ apointment.author.username }}</a>
              <small class="text-muted">{{ apointment.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
        </article>
    {% endfor %}
    {% for page_num in apointments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if apointments.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_apointments', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_apointments', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
