<!--
  The host page that loads all space apointmented from the database.
-->
{% extends "worker_layout.html" %}
{% block content %}
<div style=" clear: both;"></div>
<div class="col-md-12 topbar text-muted" style="color: black;">
<h2 class="text-light">Statistical Details</h2>
<table class="table table-dark">
  <thead class="thead-light">
        <tr>
            <th>Medical Condition</th>
            <th>Count</th>
        </tr>
  </thead>
  <tbody>
        {% for detail in statistical_details %}
            <tr>
                <td>{{ detail.med_condition }}</td>
                <td>{{ detail.count }}</td>
            </tr>
        {% endfor %}
  </tbody>
</table>
<div class="col-7" style=" background: white;">
 <canvas id="myChart" width="400" height="400" ></canvas>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var statisticalDetails = {{ statistical_details | tojson }};

        var labels = statisticalDetails.map(function(item) {
            return item.med_condition;
        });
        var data = statisticalDetails.map(function(item) {
            return item.count;
        });

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Count of Medical Conditions',
                    data: data,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
  </div>
{% endblock content %}
